{% extends "layout.html" %}

{% block content %}

<h3 style="text-align:center;">{{ title }}</h3>

<br />
<br />

<div class="row">
    <div class="col-md-4 my-grid-borders"><p style="text-align:left;"><font size="4">Location: Tel Aviv, Israel</font></p></div>
</div>


<div class="row">
    <div class="col-md-4 my-grid-borders"><p style="text-align:left;"><font size="4">Phone: +972545688889</font></p></div>
</div>


<div class="row">
    <div class="col-md-4 my-grid-borders"><a href="mailto:itayshachar04@gmail.com" style="text-align:left;"><font size="4">itayshachar04@gmail.com</font></a></div>
</div>

<br />

<img src={{ img_RoadTripMe2 }} alt='Missing' , width="500" height="500">

<script>
    function goBack() {
        window.history.back();
    }
</script>

    {% endblock %}
